body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h2 {
    margin-bottom: 20px;
}
#imageGrid {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.imageItem {
    border: 1px solid #c0c0c0;
    margin: 2%;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

.imageItem img {
    max-width: 100%;
    height: auto;
}


form {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form input[type="file"] {
    margin-bottom: 10px;
}

form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    resize: none;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Center the form horizontally */
form {
    width: 50%;
    margin: 0 auto;
}